:root{
  --teal: #2ec1ac;
  --teal_hover: #279e8c;
}

* {
  font-family: "Poppins", "sans-serif";
}

.text-custom-red {
  color: #bc1823;
}

.nav-link {
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: translateY(-4px);
}

@media (min-width: 768px) {
  .nav-link:hover {
    transform: translateY(-5px);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield; /* Standard property */
  -moz-appearance: textfield; /* Firefox-specific property */
  -webkit-appearance: textfield; /* Chrome, Safari, and Opera-specific property */
}


.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}

.custom-bg:hover {
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
}

.icon-100 {
  font-size: 100px;
}

.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.custom-alert {
  position: fixed;
  top: 25px;
  right: 25px;
}

#dashboard-menu{
  position: fixed;
  height: 100%;
}

@media screen and(max-width: 992px){
  #dashboard-menu{
    height: auto;
    width: 100%;
  }

  #main-content{
    margin-top: 60px;
    
  }
}